<section class="choose" id="choose">
  <div class="choose_container container">
    <h2 class="title-h2">Wybierz swój pakiet</h2>
    <div class="choose-content">
      <div class="swiper swiper-choose">
        <div class="swiper-wrapper swiper-wrapper-choose">
          <div class="swiper-slide swiper-slide-choose">
            <div class="choose-top-box">
              <img
                src="./img/choose/number-1.png"
                alt="number-1"
                class="choose-top-box-img"
              />
              <strong>Start</strong>
            </div>
            <h3>PYSURUUNU START</h3>
            <p>1 osoba miesięcznie, zestaw na początek</p>
          </div>

          <div class="swiper-slide swiper-slide-choose">
            <div class="choose-top-box">
              <img
                src="./img/choose/number-2.png"
                alt="number-2"
                class="choose-top-box-img"
              />
              <strong>Family</strong>
            </div>
            <h3>PYSURUUNU FAMILY</h3>
            <p>2 listy miesięcznie + zestawy dla dzieci</p>
          </div>

          <div class="swiper-slide swiper-slide-choose">
            <div class="choose-top-box">
              <img
                src="./img/choose/number-3.png"
                alt="number-3"
                class="choose-top-box-img"
              />
              <strong>Premium</strong>
            </div>
            <h3>PYSURUUNU PREMIUM </h3>
            <p>4 osoby, dodatkowa papeteria + bonus: „List w ciemno”</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-choose"></div>
    </div>
  </div>
</section>
