<section class="contact" id="contact">
  <div class="contact_container container">
    <h2 class="title-h2 contact-title">
      Formularz kontaktowy & <span>dołączenia</span>
    </h2>
    <div class="contact-content">
      <div class="contact-content-left">
        <p>Skontaktuj się z nami za pomocą poczty elektronicznej</p>
        <div class="contacts_content-top-email">
          e-mail:
          <a href="mailto:info@fbpysuruunu.xyz">info@fbpysuruunu.xyz</a>
        </div>
        <img src="../img/contacts/contacts-picture.png" alt="contacts" />
        <div>
          <img
            class="contacts_plane-1"
            src="./img/contacts/plane-1.png"
            alt="plane"
          />
          <img
            class="contacts_plane-2"
            src="./img/contacts/plane-2.png"
            alt="plane"
          />
          <img
            class="contacts_plane-3"
            src="./img/contacts/plane-3.png"
            alt="plane"
          />
        </div>
      </div>
      <div class="contact-content-right">
        <p>Lub wypełnij formularz, a my skontaktujemy się z Tobą</p>
        <form class="contact-form">
          <label
            >Imię i nazwisko
            <input
              class="form_input"
              type="text"
              name="name"
              placeholder="Wpisz swoje imię i nazwisko"
              required
            />
          </label>

          <label
            >Adres e-mail
            <input
              class="form_input"
              type="email"
              name="email"
              placeholder="Wpisz swój adres e-mail"
              required
            />
          </label>

          <button class="button-base contact-btn" type="submit">
            Zarezerwuj saunę
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
