<div class="cookies-section">
  <div class="cookies-container container">
    <div class="cookies-text-container">
      <p class="cookies-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies
      </p>
      <a href="https://allaboutcookies.org/" class="cookies-link">Learn more</a>
    </div>

    <div class="cookies-buttons">
      <button class="cookies-button cookies-decline-js">Decline Cookies</button>
      <button class="cookies-button cookies-accept-js">Allow cookies</button>
    </div>
  </div>
</div>
