<footer class="footer">
  <div class="footer_container container">
    <ul class="footer-links-list">
      <li class="footer-links-list-item">
        <a href="./privacy-policy.html">Polityka Prywatności</a>
      </li>
      <li class="footer-links-list-item">
        <a href="./terms-and-conditions.html">Warunki i postanowienia</a>
      </li>
      <li class="footer-links-list-item">
        <a href="./cookies-policy.html">Polityka plików cookie</a>
      </li>
    </ul>
    <p class="footer-text">© 2025 fbjamakyyti.xyz, Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>
