<header class="header">
  <div class="header_container container">
    <a href="./index.html" class="header-logo">
      <div class="header-logo-img">
        <img src="./img/logo.jpg" alt="logo" />
      </div>

      <span class="header-logo-text">Jamakyyti</span>
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="#history">Nasza historia</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#experience">Doświadczenie</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#why-us">Dlaczego wybrać Jamakyyti?</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#process">Proces rezerwacji</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#log">Log sauny</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#cabins">Nasze kabiny</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#contacts">Kontakt</a>
        </li>
      </ul>
    </nav>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="#history">Nasza historia</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#experience">Doświadczenie</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#why-us">Dlaczego warto wybrać Jamakyyti?</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#process">Proces rezerwacji</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#log">Log sauny</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#cabins">Nasze kabiny</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#contacts">Kontakt</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <span class="visually-hidden">Otwórz menu, zamknij menu</span>
      <svg class="header-nav-mobile-button-open" width="24" height="24" style="fill:#E8F0E9; stroke:#E8F0E9">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
      <svg
        class="header-nav-mobile-button-close is-hidden"
        width="24"
        height="24"
        style="fill:#E8F0E9; stroke:#E8F0E9"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
