<header class="header">
  <div class="header_container container">
    <a href="./index.html" class="header-logo">
      <div class="header-logo-img">
        <img src="./img/header/logo.png" alt="logo" />
      </div>

      <span class="header-logo-text">PYSURUUNU</span>
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="./index.html">Nasza historia</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Jak to działa</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Dlaczego do nas dołączyć?</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Historie członków</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Wybierz swój pakiet</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="./index.html">Kontakt</a>
        </li>
      </ul>
    </nav>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="./index.html">Nasza historia</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Jak to działa</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Dlaczego do nas dołączyć?</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Historie członków</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Wybierz swój pakiet</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="./index.html">Kontakt</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <span class="visually-hidden">Otwórz menu, zamknij menu</span>
      <svg
        class="header-nav-mobile-button-open"
        width="24"
        height="24"
        style="fill: #2f2f2f; stroke: #2f2f2f"
      >
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
      <svg
        class="header-nav-mobile-button-close is-hidden"
        width="24"
        height="24"
        style="fill: #2f2f2f; stroke: #2f2f2f"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
