<section class="hero">
  <div class="hero_container container">
    <h1 class="title-h1">
      PYSURUUNU – Klub Ręcznie
      <span class="hero-title-box"
        ><span class="hero-text-decor"> Pisanych </span>  Listów</span
      >
    </h1>
    <p class="hero_text">
      Zamień e-maile na emocje. Dołącz do społeczności, która kocha słowa na
      papierze.
    </p>
    <a href="#contact" class="button-base hero_btn">Dołącz do Klubu</a>
    <div>
      <img class="hero_envelope-1" src="./img/hero/envelope-1.png" alt="envelope-1" />
      <img class="hero_envelope-2" src="./img/hero/envelope-2.png" alt="envelope-2" />
      <img class="hero_envelope-3" src="./img/hero/envelope-3.png" alt="envelope-3" />
      <img class="hero_envelope-4" src="./img/hero/envelope-4.png" alt="envelope-4" />
      <img class="hero_pen_mobile" src="./img/hero/hero-pen-mobile.png" alt="pen" />
      <img class="hero_pen_pc" src="../img/hero/hero-pen.png" alt="pen" />
    </div>
  </div>
</section>
