<section class="history" id="history">
  <div class="history_container container">
    <h2 class="title-h2">Nasza historia</h2>
    <div class="history-content">
      <div class="history-content-left">
        <p class="history-content_text1">
          Osobista historia założycielska z prawdziwym haczykiem
        </p>
        <p class="history-content_text2">
          PYSURUUNU narodziło się z jednej kartki. Po przeprowadzce do Japonii,
          założycielka – Magda – wysłała do swojej babci pierwszy ręcznie
          napisany list. Babcia, która od lat chorowała na Alzheimera,
          odpowiedziała – a potem pisała raz w miesiącu, dopóki mogła. Te listy
          stały się pomostem między pokoleniami, emocjami i czasem. Gdy Magda
          wróciła do Polski, stworzyła klub dla tych, którzy nie zapomnieli, jak
          to jest poczuć papier pod palcami.
        </p>
      </div>
      <img
        src="./img/history-image.png"
        alt="history"
        class="history-content_img"
      />
    </div>
  </div>
</section>
