<section class="how-works" id="how-works">
  <div class="how-works_container container">
    <h2 class="title-h2">Jak to działa</h2>
    <div class="how-works-content">
      <div class="swiper swiper-how-works">
        <div class="swiper-wrapper swiper-wrapper-how-works">
          <div
            class="swiper-slide swiper-slide-how-works swiper-slide-how-works-1"
          >
            <h3>Zapisz się</h3>
            <p>
              Wybierz pakiet subskrypcji i otrzymaj zestaw powitalny z papeterią
            </p>
          </div>

          <div
            class="swiper-slide swiper-slide-how-works swiper-slide-how-works-2"
          >
            <h3>Wylosuj osobę</h3>
            <p>Co miesiąc losujemy Ci osobę z klubu, do której wyślesz list</p>
          </div>

          <div
            class="swiper-slide swiper-slide-how-works swiper-slide-how-works-3"
          >
            <h3>Pisz i czekaj</h3>
            <p>
              Napisz list. Prawdziwy, ręczny. I czekaj, aż przyjdzie odpowiedź –
              nie wiadomo skąd, ale zawsze z serca
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
