<section class="member" id="member">
  <div class="member_container container">
    <h2 class="title-h2">Historie członków</h2>
    <div class="member_content">
      <div class="swiper swiper-member">
        <div class="swiper-wrapper swiper-wrapper-member">
          <div class="swiper-slide swiper-slide-member swiper-slide-member-1">
            <p>
              "Zawsze chciałam napisać do nieznajomego. Dzięki Wam mam już dwóch
              przyjaciół – w Gdańsku i w Barcelonie."
            </p>
            <h3>– Ania</h3>
          </div>

          <div class="swiper-slide swiper-slide-member swiper-slide-member-2">
            <p>
              "Mój syn po raz pierwszy napisał list. Ma 12 lat. Pytał, czy można
              dodać naklejki. Można!"
            </p>
            <h3>– Patryk</h3>
          </div>

          <div class="swiper-slide swiper-slide-member swiper-slide-member-3">
            <p>
              "Dostałam list od pani, która pachnie lawendą i pisze o
              pszczołach. Nigdy nie znałam takiej osoby. I już nie chcę przestać
              jej znać."
            </p>
            <h3>– Ola</h3>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-member"></div>
    </div>
  </div>
</section>
