<section class="why-us" id="why-us">
  <div class="why-us_container container">
    <h2 class="title-h2 why-us-title">Dlaczego do nas <span>dołączyć </span> ?</h2>
    <div class="why-us-content">
      <div class="swiper swiper-why-us">
        <div class="swiper-wrapper swiper-wrapper-why-us">
          <div class="swiper-slide swiper-slide-why-us">
            <h3>Połączenie offline</h3>
            <p>Odzyskaj radość z pisania, dzielenia się i czekania</p>
          </div>

          <div class="swiper-slide swiper-slide-why-us">
            <h3>Kuratorskie doświadczenie</h3>
            <p>Każdy list idzie z miłością – z dobrych dłoni do dobrych oczu</p>
          </div>

          <div class="swiper-slide swiper-slide-why-us">
            <h3>Sztuka powolności</h3>
            <p>Uczymy się żyć wolniej – litera po literze</p>
          </div>

          <div class="swiper-slide swiper-slide-why-us">
            <h3>Papeteria z duszą</h3>
            <p>
              W zestawach: ekologiczne papiery, kaligrafowane koperty i
              inspirujące cytaty
            </p>
          </div>

          <div class="swiper-slide swiper-slide-why-us">
            <h3>Globalna społeczność</h3>
            <p>
              Piszemy do Polski, Europy i dalej – mostami nie z Wi-Fi, lecz z
              duszy
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-why-us"></div>
    </div>
  </div>
</section>
