.why-us {
  margin-bottom: 80px;
  scroll-margin-top: 100px;

  @media (min-width: 1440px) {
    margin-bottom: 120px;
  }
}

.why-us_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 16px;
  @media (min-width: 1440px) {
    gap: 56px;
    padding: 0 72px;
  }
}

.why-us_content {
  max-width: 343px;
  @media (min-width: 1440px) {
    max-width: 100%;
  }
}

.swiper-wrapper-why-us {
  display: flex;
  @media (min-width: 1440px) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.swiper-slide-why-us {
  display: flex !important;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: rgba(201, 178, 155, 0.3);
  border-radius: 12px;
  padding: 16px;
  min-height: 139px;

  @media (min-width: 1440px) {
    gap: 16px;
    padding: 24px;
    width: 416px;
    max-width: 416px;
    min-height: 154px;
    height: 154px;
  }
}

.swiper-slide-why-us > h3 {
  font-weight: 500;
  font-size: 18px;

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.swiper-slide-why-us > p {
  font-size: 16px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}

.swiper-pagination-why-us {
  display: flex !important;
  justify-content: center;
  position: relative !important;
  margin-top: 32px;
  @media screen and (min-width: 1440px) {
    display: none !important;
  }
}
